$blue: #0F6FB2;
$bgcolor: #E6F5F9;

body {
  font-family: Sans-Serif;
  color: $blue;
  background-color: $bgcolor;
  font-size: 20px;
}

.heading-1 {
	font-size: 32px;
	font-weight: 600;
	color: #F14E4E;
}
