.header-navigation-bg
	.container
		.header-navigation

			.navigation-list
				a(href="#").navigation-list__item Top Sales
				a(href="#").navigation-list__item Brand Focus
				a(href="#").navigation-list__item.navigation-list__item--active Hi-tech
				a(href="#").navigation-list__item Projects
				a(href="#").navigation-list__item Best Sellers

			.header-navigation-right
				.header-support Support
				.header-search 
					label.header-search__label
						input(type="text" placeholder="I’m looking for ...").header-search__input
				

				

